</br>
<br/>
<br/>
<br/>
<br/>
<div align="center">
<div class="panel panel-default" align="left" style="width:50%">
  <div class="panel-heading">Xml Dumping status</div>
  <div class="panel-body">
    <table>
      <h3>Feed1</h3>
      <tr>
        <td class="label label-primary"><%= label_tag  :Allrecords %></td>
        <td class="label label-default"><%= @xmltrack.totalrecords %></td>
      </tr>
      <tr>
        <td class="label label-primary"><%= label_tag  :completed %></td>
        <td class="label label-default"><%= @xmltrack.datacompleted %></td>
      </tr>
      <tr>
        <td class="label label-primary"><%= label_tag  :remaining %></td>
        <td class="label label-default"><%= @xmltrack.dataremaining %></td>
      </tr>
      <tr>
        <td class="label label-primary"><%= label_tag  :timetaken %></td>
        <td class="label label-default"><%= @xmltrack.timetaken %></td>
      </tr>
      <tr>
        <td class="label label-primary"><%= label_tag  :status %></td>
        <% if @xmltrack.dataremaining == 0 %>
            <td class="label label-default"><%= label_tag "Success" %></td>
            <% else %>
            <td class="label label-default"><%= label_tag  "Failure" %></td>
      <% end %>

      </tr>
    </table>

    <p position="relative" align="center"> <%= button_to "Restart",{:controller=> "report", :action=> "rerun" }, :class => "btn-custom"  %></p>

    <br/>
    <div class="prog-bar"  >
      <%= progress_bar("#{@xmltrack.percentagedata}", :color => 'grey', :rounded => true) %>
    </div>
  </div>
</div>
</div>

