
<div class="panel panel-default">
  <div class="panel-heading">Xml Dumping status</div>
  <div class="panel-body">
<table>
    <%= simple_form_for :book do |f| %>
<tr>
        <td class="label label-primary"><%= f.label :records %> </td>

        <td class="label label-default"><%= @xmltrack.totalrecords %></td>
</tr>


        <tr>
          <td class="label label-primary"><%= f.label :completed %></td>
          <td class="label label-default"><%= @xmltrack.datacompleted %></td>
</tr>

        <tr>
          <td class="label label-primary"><%= f.label :remaining %></td>
          <td class="label label-default"><%= @xmltrack.dataremaining %></td>
        </tr>
        <tr>

          <td class="label label-primary"><%= f.label :timetaken %></td>
          <td class="label label-default"><%= @xmltrack.timetaken %></td>
        </tr>

        <tr>

          <td class="label label-primary"><%= f.label :status %></td>
          <td class="label label-default"><%=  %></td>
          <td><%= link_to 'Rerun',{:controller=> "report", :action=> "rerun" },:class=> "crud_button btn_jobs" %></td>

        </tr>

    <% end %>

</table>

<br/>
<div class="prog-bar"  >
<%= progress_bar("44", :color => 'grey', :rounded => true) %>
</div>

</div>
</div>

