</br>
<br/>
<br/>
<br/>
<br/>
<div align="center">
  <div class="panel panel-default" align="left" style="width:50%">
    <div class="panel-heading">Xml Dumping status</div>
    <div class="panel-body">

      <div class="container">
        <div class="row">
          <div class="col-sm-2"> <b>Feed1</b></div>
          <div class="col-sm-5">
            <p position="relative" align="center"> <%= button_to "Generate Xml",{:controller=> "report", :action=> "rerun" }, :class => "btn-custom"  %></p></div>
        </div>
      </div>
      <div class="container">

        <u> Report for xml Generation</u>
        </br>
        <br/>
        <div class="row">
          <div class="col-sm-2"> <div class="label label-primary"><%= label_tag  :Allrecords %> </div>  </div>
          <div class="col-sm-10"><div class="label label-default"><%= @xmltrack.totalrecords %> </div> </div>
        </div>

        <div class="row">
          <div class="col-sm-2"><div class="label label-primary"><%= label_tag  :completed %></div>  </div>
          <div class="col-sm-10"><div class="label label-default"><%= @xmltrack.datacompleted %></div>  </div>
        </div>

        <div class="row">
          <div class="col-sm-2"><div class="label label-primary"><%= label_tag  :remaining %></div>  </div>
          <div class="col-sm-10"><div class="label label-default"><%= @xmltrack.dataremaining %></div>  </div>
        </div>

        <div class="row">
          <div class="col-sm-2"><div class="label label-primary"><%= label_tag  :timetaken %></div>  </div>
          <div class="col-sm-10"><div class="label label-default"><%= @xmltrack.timetaken %></div>  </div>
        </div>

        <div class="row">
          <div class="col-sm-2"> <div class="label label-primary"><%= label_tag  :xmlstatus %></div>  </div>



          <% if @xmltrack.dataremaining == 0 %>

              <div class="col-sm-2"><div class="label label-default"><%= label_tag "Success" %></div></div>

          <% else %>
              <div class="col-sm-2"><div class="label label-default"><%= label_tag  "Failure" %></div></div>
          <% end %>
          <div class="col-sm-2"><p position="relative" align="center"> <%= button_to "Restart",{:controller=> "report", :action=> "rerun" }, :class => "btn-custom"  %></p></div>

        </div>
      </div>



      <br/>
      <div class="prog-bar"  >
        <%= progress_bar("#{@xmltrack.percentagedata}", :color => 'grey', :rounded => true) %>
      </div>
    </div>
  </div>
</div>